// Stealing from https://codepen.io/peterwestendorp/embed/nLGVXP?default-tab=result

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}

$uiBG: rgba(0,0,0,0.5);
$borderRadius: 8px;

body{
    padding:0;
    margin: 0;
    background: #000;
    font-family: 'Open Sans', sans-serif;
    
}

#roomScene {
    background: linear-gradient(323deg,rgba(2,0,36,0) 32%,rgba(81,81,154,.499) 73%,rgba(9,9,66,.908));
}

#app > *{
    position: fixed !important;
    width:100vw;
    height:100vh;
}

#topLogo {
    position: fixed !important;
    left:0;
    background:$uiBG;
    width: inherit;
    padding:10px;
    height: inherit;
    border-bottom-right-radius: $borderRadius;
    z-index: 10;
    max-width: 320px;

    @include for-phone-only{
        display: none;
    }
}

.logoContain{
    color:#fff;
    margin: 0 auto 10px auto;
    text-align: center;

    @include for-phone-only {
        margin-bottom: 10px;
    }

    .mainLogo,.mainLogoText{
        display: inline-block;

        @include for-phone-only {
            height: 60px;
            img{
                max-height: 60px;
            }
        }
    }

    .mainLogo{
        height:70px;
        img{
            max-height: 70px;
        }

        @include for-phone-only {
            height: 60px;
            img{
                max-height: 60px;
            }
        }
    }

    .mainLogoText{
        margin: 0px 0 0 20px;
        @include for-phone-only {
            margin: 0 0 0 20px;
        }

        h1{
            font-size: 2rem;
            margin-bottom: 0;
            margin-top: 5px;

            @include for-phone-only {
                font-size: 2rem;
            }
        }
        h2{
            font-size: 1rem;
            margin:-5px 0 0 0;
            line-height: 18px;
        }
    }
}

.threedee{
    .searchBox{
        margin: 0 auto;
        width: 90%;
        position: relative;
        font-size: 14px;
        .searchInput{
            width:100%;
            font-size: 15px;
            padding: 4px 0 4px 4px;
            background-color: #fff;
        }
        ul.searchResults{
            width:100%;
            // font-size: 14px;
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: rgba(0,0,0,1);
            color:#ffffff;
            position: absolute;
            li{
                cursor: pointer;
                padding:4px;

                &:hover{
                    background: rgba(255,255,255,0.2);
                }
            }
        }   
    }
}

#topHud{
    position: fixed;
    width:inherit;
    height: auto;
    padding: 10px;
    background:$uiBG;
    color:#fff;
    top:0px;
    border-radius: 0 0 0 $borderRadius;
    max-height: 95vh;
    right: 0;
    z-index: 10;
    
    // display: flex;
    @include for-phone-only {
        min-width: inherit;
        width:100%;
        border-radius: 0;
        top:0;
        padding: 0  ;
    }

    .logoContain, .logoContainActive{
        @include for-tablet-portrait-up{
            display: none;
        }
    }

    .logoContainActive{
        text-align: left;
        float:left;
        margin: 10px 0 0 20px;

        .mainLogo{
            @include for-phone-only {
                height: 60px;
                img{
                    max-height: 60px;
                }
            }
        }
    }

    .showInfoButton{
        text-align: right;
        text-decoration: underline;
        cursor: pointer;

        @include for-phone-only {
            text-align: center;
        }
    }

    #gameInfo{
        width: 100%;
        text-align: right;

        @include for-phone-only {
            border-top:1px solid #000;
            padding: 10px;
            box-sizing: border-box;
        }

        h3{
            margin: 0 0 8px 0;
            font-size: 24px;
            max-width: 400px;

            @include for-phone-only {
                text-align: center;
                max-width: inherit;
            }
        }

        table{
            margin: 10px 0;
        }

        table, table td{
            border:1px solid #fff;
            border-collapse: collapse;
        }

        table td{
            padding:5px;
        }

        table.info,.links{
            float:right;
            @include for-phone-only {
                float:none;
                text-align: center;
                margin: 10px auto;
            }
        }

        ul{
            padding-left: 0;
            list-style: none;
            margin: 0;

            li{
                display: inline-block;
                margin-right: 10px;
            }
        }

        p{
            border-top:1px solid rgba(255,255,255,0.5);
            overflow-y: scroll;
            max-height:50vh;
            padding-top:15px;
        }

        .links{
            .stillFound{
                display: inline;
            }

            ul{
                display: inline;
                margin-left: 10px;
                li{
                    display: inline-block;

                    &:last-child{
                    margin-right: 0px       ;
                    }
                    a{
                        height: 28px;
                        width: 28px;
                        display: inline-block;
                        background-size: 100%;
                        position: relative;
                        top: 6px;

                        &.steam{
                            background-image: url('/img/icons/steam.svg');
                        }
                        &.gog{
                            background-image: url('/img/icons/gogdotcom.svg');
                        }
                    }
                }
            }
        }
    }
}

.buttons {
    text-align: center;
    a{
        font-weight: bold;
        padding:8px;
        border:2px solid white;
        text-decoration: none;
    }
}

.center-ui-element{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:auto !important;
    height:auto !important;
    background-color: rgba(0,0,0,0.8);
    color:#fff;
    padding:10px;
    border-radius: $borderRadius;
    max-height: 80vh;
    overflow: auto;

    @include for-phone-only {
        width:85vw !important;
    }

    a{
        color:#fff;
    }

    .buttons{
        margin: 25px 0 20px 0;
    }

    .perfStinks{
        text-align: center;
        font-size: 11px;
    }

    &.hidden{
        display: none;
    }
    &.show{
        display: block;
    }
}

#music{
    position: fixed;
    bottom:0;
    left:0;
    width:24px;
    height:24px;
    padding:5px;
}

#intro{
    display: none;

    &.show{
        display: block;
    }
}

#controls{
    position: fixed;
    height: auto;
    left: 50%;
    transform: translate(-50%, 0);
    width: auto;
    background: $uiBG;
    padding: 10px 15px;
    bottom: 0;
    border-radius: $borderRadius $borderRadius 0 0;
    color: #fff;

    @include for-phone-only {
        display: none;
    }

}

.clear{
    clear:both;
}

html {
    overflow: hidden;
    overscroll-behavior: none;
}

#shelfOptions{
    .basic-multi-select{
        width: 100vw;
        max-width: fill-available;
        max-width: stretch;
        max-width: -webkit-fill-available;
        max-width: -moz-available;
    }
}