name: bigboxdb-server

services:

  redis:
    image: redis:alpine
    restart: no
    ports:
      - 6379:6379
    volumes:
      - ./data-redis:/data
  
  mariadb:
    image: mariadb:lts
    restart: no
    env_file: ".env"
    volumes:
      - ./data-sql:/var/lib/mysql
    ports:
      - 3306:3306
    networks:
      - bbdb_network

  meilisearch:
    image: getmeili/meilisearch:v1.35
    volumes:
      - ./data-ms:/meili_data
    ports:
      - "7700:7700"
    environment:
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY:-ms}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7700"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  bbdb_network: