name: bigboxdb-server

services:

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    image: bigboxdb-api:latest
    container_name: bigboxdb-api
    ports:
      - "8080:8080"
    networks:
      - bbdb_network
    depends_on:
      - mariadb
  
  mariadb:
    image: mariadb:lts
    restart: no
    env_file: ".env"
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - 3306:3306
    networks:
      - bbdb_network

  # redis:
  #   image: redis:8.4-alpine
  #   restart: no
  #   command: redis-server --save 20 1 --loglevel warning
  #   networks:
  #     - bbdb_network
      
  # blog:
  #   image: jakejarvis/hugo-extended:latest
  #   expose:
  #     - 1313
  #   volumes:
  #     - ./blog:/src
  #   command: server --buildDrafts --buildFuture --bind 0.0.0.0
  #   networks:
  #     - bbdb_network

  # nginx:
  #   image: nginx:latest
  #   restart: no
  #   volumes:
  #     - ./nginx-dev.conf:/etc/nginx/nginx.conf
  #     - ./uploads/scans:/uploads
  #     - ./app/node_modules/three/examples/jsm/libs/basis/:/basis
  #   ports:
  #     - 8081:80
  #   depends_on:
  #     - mariadb
  #     - redis
  #     - server
  #   networks:
  #     - bbdb_network

networks:
  bbdb_network:

volumes:
  db-data: