name: bigboxdb-server

services:

  server:
    env_file:
    - .env
    environment:
      - APP_ENV=production
      - GIN_MODE=release
      - MYSQL_HOST=mariadb
      - REDIS_ADDR=redis:6379
    build:
      context: .
      dockerfile: Dockerfile.api
    image: bigboxdb-api:latest
    container_name: bigboxdb-api
    volumes:
      - ./dist/web:/app/web:ro
      - scan_uploads:/app/uploads/scans ## Maybe fix local mount for paranoia reasons
    ports:
      - 8080:8080
    networks:
      - bbdb_network
    depends_on:
      - mariadb
      - redis

  redis:
    image: redis:alpine
    restart: no
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data
  
  mariadb:
    image: mariadb:lts
    restart: no
    env_file: ".env"
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - 3306:3306
    networks:
      - bbdb_network

  # redis:
  #   image: redis:8.4-alpine
  #   restart: no
  #   command: redis-server --save 20 1 --loglevel warning
  #   networks:
  #     - bbdb_network
      
  # blog:
  #   image: jakejarvis/hugo-extended:latest
  #   expose:
  #     - 1313
  #   volumes:
  #     - ./blog:/src
  #   command: server --buildDrafts --buildFuture --bind 0.0.0.0
  #   networks:
  #     - bbdb_network

  nginx:
    image: nginx:latest
    restart: no
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./dist/web:/usr/share/nginx/html
      - scan_uploads:/usr/share/nginx/html/scans
    ports:
      - 8081:80
    depends_on:
      - mariadb
      - redis
      - server
    networks:
      - bbdb_network

networks:
  bbdb_network:

volumes:
  db-data:
  redis_data:
  scan_uploads: