@keyframes bgmove {
    0% {
      background-position-x: 0px;
    }
    100% {
        background-position-x: -1920px;
    }
  }

body{
    background-color: #263762;
}
#bg{
    .bg-gradient{
        background: linear-gradient(323deg, rgba(0, 0, 0, 0) 32%, rgba(28, 28, 62, 0.499) 73%, rgba(11, 11, 57, 0.908) 100%);
    }
    .bg-3d{
        transform-style: preserve-3d;
        perspective: 1000px;
    
        .bg-tiles{
            background-image: url(/img/bg.jpg);
            animation: bgmove 200s linear infinite;
            will-change: transform;
            transform-style: preserve-3d;
            backface-visibility:  hidden;
            /* transform: rotateY(-20deg) rotateX(20deg) translateZ(6900px) translateX(-3770px) translateY(-100px); */
            transform: translateZ(0px) translateX(-3770px) translateY(-100px);
        }
    }
}

#main-header{
    h1,h2{
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.77);
    }
    .searchBox{
        border:1px solid black;
        background-color:#ffffff;
    }
}

#game{
    h1{
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.77);
    }
}

ul.gameLinks li a{
    &.steam{
        background-image: url('/img/icons/steam.svg');
    }
    &.gog{
        background-image: url('/img/icons/gogdotcom.svg');
    }
    &.mobygames{
        background-image: url('/img/icons/mobygames.png');
    }
    &.igdb{
        background-color: #ffffff;
        border-radius: 5px;
        background-position: 50% 50%;
        padding: 2px;
        background-size: 90%;
        background-image: url('/img/icons/igdb.svg');
    }
}